#contents_create_area {
    width: 60vw;
    height: 60vh;
    border: 3px solid gray;
    border-radius: 2em;
    margin-left: 22%;
    padding: 30px;
}

#input_top_area{
    margin-bottom: 20px;
}

#writer_area{
    float: left;
    margin-right: 200px;
}

#upd_title_intput_area{
    margin-bottom: 30px;
}

#upd_contents_input_area{
    margin-bottom: 30px;
}

#upd_btn_area{
    width: fit-content;
    margin: 0px auto;
}

#upd_editor-title-input{
    width: 100%;
}

#upd_editor-content-input{
    width: 100%;
    height: 150px;
}

button:active {
    transform: scale(0.93);
}

.button {
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4vh;
  }
    
.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */