#title_area {
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    border-bottom: 3px solid gray;
    max-width: 90%;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

#title_text{
    color: rgb(110, 110, 110);
}

#load_table{

}

#menu_right_bar{
    width: 3px; 
    height: 400px; 
    float: left; 
    background-color: gray; 
    margin-left: 15px;
}

#menu_area {
    width: 130px;
    height: 400px;
    float: left;
    background-color: rgb(230, 230, 230);
}

ul {
    margin-left: 15px;
    padding: 10px;
}

li {
    margin-bottom: 10px;
}

a{
    font-size: small;
}

#body_area{
    width: auto;
}

#contents_area{
    width: 80%;
    margin: auto;
}

#contents_top_area{
    width: auto;
    margin-bottom: 10px;
}

#div_table_area {
    width: 100%;
}

#table_area {
    text-align: center; 
    margin-bottom: 20px; 
    width: 100%;
    border-top: 2px solid rgb(110, 110, 110);
    border-bottom: 2px solid rgb(110, 110, 110);
    padding: 0px;
    border-collapse: collapse;
}

#thead_area {
    background-color: rgb(172, 166, 166);
    border-bottom: 2px solid rgb(110, 110, 110);
}

#bottom_area {
    background-color: blue;
}

#btn_area{
    float: right;
    margin-right: 30px;
}

.board__index-container {
    bottom: 10px;
    text-align: center;
  }

.board__index-link {
    all: unset;
    margin-right: 5px;
}

.board__index-link:hover {
    cursor: pointer;
    color: blue;
}

#board__content {
    height: 30px;
}