#title_area {
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    border-bottom: 4px solid gray;
    max-width: 70%;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

#menu_area {
    background: rgb(185, 185, 185);
    width: 170px;
    height: 400px;
    float: left;
}

#ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#li{
    margin-bottom: 5px;
}

#body_area{
    width: auto;
}

#contents_area{
    width: 80%;
    margin: auto;
}

#contents_top_area{
    width: auto;
    margin-bottom: 10px;
}

#div_table_area {
    width: 100%;
}

#table_area {
    width: 100%;
}

#thead_area {
    background-color: rgb(172, 166, 166);
}

#bottom_area {
    background-color: blue;
}

#btn_area{
    float: right;
    margin-right: 30px;
}