#detail_board{
    width: 60%; 
    margin-left: auto; 
    margin-right: auto;
}

.detail_table{
    text-align: center; 
    margin-bottom: 20px; 
    width: 100%;
    border: 1px solid rgb(110, 110, 110);
    padding: 0px;
    border-collapse: collapse;
}

.detail_thead{
    border-bottom: 2px solid rgb(110, 110, 110);
}

#detail_board_contents_area{
    width: 60%;
    margin-left: auto; 
    margin-right: auto;
}

#detail_board_btn_area{
    position: fixed;
    left: 40%;
    top: 80%;
    width: 50%;
}

.button {
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4vh;
  }
    
.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
.button3 {
    background-color: #98ba00;
    border-radius: 10vh;
}

#update_delete_btn{
    float: left;
}

#goto_contetns{
    float: right;
}