#title_area {
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    border-bottom: 4px solid gray;
    max-width: 75%;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

#body_area {
    display: flex;
    width: 950px;
    height:400px;
    margin:0 auto;
}

#div_table_area {
    width: 950px;
}

#table_area {
    width: 100%;
}

/* #th_no {
    width: 100;
    height: 40px;
}

#th_title {
    width: 500;
    height: 40px;
}

#th_writer {
    width: 200;
    height: 40px;
}

#th_date {
    width: 200;
    height: 40px;
}

#th_num {
    width: 80;
    height: 40px;
}

#th_etc {
    width: 50;
    height: 40px;
} */

#bottom_area {
    background-color: blue;
}

#btn_area{
    float: right;
    margin-right: 30px;
}