#home_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    float: left;
    width: 100%;
}

#home_li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#top_area{
    width: 100vw;
    margin-bottom: 10px;
    position: fixed;
}

#top_menu_area {
    background-color: rebeccapurple;
    width: 100%;
    height: 50px;
}

#search_area {
    width: 100%; 
    height: 60px; 
    border: 1px solid gray;
    background-color: white;
}

#search_input_btn_area {
    width: 80%; 
    margin: 0px auto;
    line-height: 60px;
}

#search_input {
    font-size: 16px; 
    width: 90%; 
    margin: 0px auto;
}

#search_btn{
    width: 50px; 
    height: 40px; 
    border: 0px;
    padding: 0px;
    background-color: #222831;
    color:#ffffff;
    outline: none; 
    border-radius: 2vh;
}

#logout_btn{
    float: right; 
    color: white; 
    outline: none;
    line-height: 50px; 
    margin-right: 50px;
}

#introduce_academy{
    width: 100%;
    height: 95vh;
    padding-top: 100px;
    background-color: rgb(230, 230, 230);
}

#title_academy{
    line-height: 100px;
    margin-left: 80px;
}

#contents_academy{
    width: 88%;
    height: 75%;
    margin: 0px auto;
    position: static;
}

#intro_left_area{
    width: 60%;
    height: 40%;
    float: left;
}

#intro_right_academy{
    width: auto;
    float: right;
}


#academy_img_area{
    width: fit-content;
    margin: 0px auto;
}

#bitcamp_img {
    width: 670px; 
    height: 200px; 
    border-radius: 4vh;
}
#bitcamp_img:hover {
    opacity: 0.2;
}

#bitcamp_img1 {
    width: 350px; 
    height: 400px; 
    border-radius: 4vh;
}
#bitcamp_img1:hover {
    opacity: 0.2;
}

#bitcamp_img2 {
    width: 300px; 
    height: 160px; 
    border-radius: 4vh;
}
#bitcamp_img2:hover {
    opacity: 0.2;
}

#bitcamp_img3 {
    width: 300px; 
    height: 160px; 
    border-radius: 4vh;
}
#bitcamp_img3:hover {
    opacity: 0.2;
}